<p class="login_text">Login to AquiChain</p>
<div class="form_wrapper">
<form method="POST">
    <div class="form_group">
        <input type="email" name="email" placeholder="Email ID">
    </div>
    <div class="form_group">
        <input type="password" name="password" placeholder="Password">
    </div>
    <button class="btn_submit">Login</button>
</form>
</div>
<div class="forget_password_link">
  <a href="">Forget Password?</a>
</div>


<p class="register_text">Don’t have an account? <a href="">Register Now</a></p>