.dropdown-menu {
    position: absolute;
    top: 160%;
    left: -7.5rem;
    z-index: 1000;
    float: right;
    min-width: 11rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #FAFAFA;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.75rem;
}
.dropdown-item:hover {
    background-color: #00A1ED;
    color: #FFFFFF;

    
}