/* .card{
  background: #ffffff;
  border: 0.3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 1rem 3rem 3rem 3rem;
  color: #303030;
}
.close{
  text-align: end;
  margin-bottom: 1rem;
} */
/* .aqui-row-data-content{
  background: #F5F5F5;
  border: 1px solid #DBDBDB;
  margin: 0rem;
  padding: 1rem;
}
.field-name{
  font-weight: 500;
  font-size: 1rem;
}
.field-content{
  font-weight: 600;
  font-size: 1.1rem;
}
.field-col{
  margin: 1rem 0;
}
agm-map {
  height: 300px;
  width: 100%;
  padding: 1rem 0;
  border-radius: 10px;
} */