<div class="modal-center">
    <div class="text-left col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">
      <div class="card aqui-modal-card">
        <i class="fal fa-times fa-1x close" aria-hidden="true" (click)="dialogRef.close({ event: 'close' })"></i>

        <div class="aqui-form-content">
            <h1 class="modal-heading">Add Sub-Industry </h1>
          <div>
              <form [formGroup]="" autocomplete="off">
                <div class="form-group">
                    <input type="text" formControlName="email" id="email" class="aqui-modal-input form-control" placeholder="Sub Industry Name">
                    <!-- <app-control-messages [control]="formname.controls.formControlName"></app-control-messages> -->
                  </div>
                  <div class="form-group">
                    <!-- <input type="text" formControlName="email" id="email" class="aqui-modal-input form-control" placeholder="Area Jurisdiction"> -->
                    <select class="aqui-modal-input form-control" >
                      <option value="">Select One</option>
                      <option value="AquifierNumber">Aquifier Number</option>
                    </select>
                    <!-- <app-control-messages [control]="formname.controls.formControlName"></app-control-messages> -->
                  </div>
                  <div class="form-group">
                    <input type="text" formControlName="email" id="email" class="aqui-modal-input form-control" placeholder="Threshold (Litres)">
                    <!-- <app-control-messages [control]="formname.controls.formControlName"></app-control-messages> -->
                  </div>
                  
                  
                  
              </form>

              <div class="d-g">
                  <button class="aqui-modal-long-button mb-3">Create</button>
                  <button class="aqui-modal-hollow-long-button" (click)="dialogRef.close({ event: 'close' })">Cancel</button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>