<div class="card card-signin top">
<form id="reset-form" class="form" [formGroup]="resetPasswordForm" autocomplete="off" (ngSubmit)="doResetPassword()">
  <div class="card-body">
      <div class="input-group mb-2 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
        </div>
        <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password" id="password" class="form-control form-control-lg password-input" placeholder="Password">
        <div class="input-group-append">
          <span class="input-group-text password-show">
            <i class="fa" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType }" (click)="toggleFieldTextType()"></i>
          </span>
        </div>
      </div>
      <!-- <app-control-messages [control]="resetPasswordForm.controls.password"></app-control-messages> -->
      <div class="input-group mt-4 mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
        </div>
        <input [type]="repeatFieldTextType ? 'text' : 'password'" formControlName="confirmPassword" id="confirmPassword" class="form-control form-control-lg password-input" placeholder="Confirm Password">
        <div class="input-group-append">
          <span class="input-group-text password-show">
            <i class="fa" [ngClass]="{ 'fa-eye-slash': !repeatFieldTextType, 'fa-eye': repeatFieldTextType }" (click)="toggleRepeatFieldTextType()" ></i>
          </span>
        </div>
      </div>
      <div class="error" *ngIf="resetPasswordForm.controls.confirmPassword.hasError('passwordNotMatch')">Passwords do not match</div>
      <!-- <app-control-messages [control]="resetPasswordForm.controls.confirmPassword"></app-control-messages> -->
    
      <p class="text-center pt-4"><a class="resetPassword-text" href="login">Back to Login?</a></p>
    </div>
    <div class="login-section text-center py-1">
      <button class="reset-password px-5 py-2" type="submit">Update<span class="ml-2"><i class="fas fa-angle-right"></i></span></button>
    </div>
  </form>
</div>
