
.card-signin {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin-text{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right,#676767 0%, #fcfcfc 100%);
  border-image-slice: 1
}

#login .container #login-row #login-column #login-box {
    margin-top: 220px;
    max-width: 600px;
    height: 320px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  .login-text{
      color:#a08992;
      font-family: 'Calibri';
      font-size:22px;
  }

  .btn-submit{
    background-color: #C624FE;
    color:#fff;
  }

 .form-control-lg{
  height: 55px;
 }

 .form-group{
   width:320px;
 }
 
 .login-section{
   background-color: black;
   color: white;
   font-size: 25px;
   font-style: normal;
 }

 .resetPassword-text{
   font-size: 18px;
   color:#706b5d;
 }

 .password-show{
    background-color: white;
 }

 .password-input{
    border-right: none;
 }

 .reset-password{
    background-color: inherit;
    border: inherit;
    color: white;
 }
 button:focus{
  outline: 0px auto -webkit-focus-ring-color;
  outline: 0px dotted;
 }

 input:focus {
  box-shadow: none !important;
  background: white!important;
}

a:hover {
  color: #0056b3;
  text-decoration: none !important;
}

  