<div class="card card-signin top">
  <form id="login-form" class="form" [formGroup]="forgotPasswordForm" autocomplete="off" (ngSubmit)="forgotPassword()">
  <div class="card-body">
      <div class="input-group mb-2 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
        </div>
        <input type="email" formControlName="email" id="email" class="form-control form-control-lg" placeholder="Email ID">
      </div>
      <!-- <app-control-messages [control]="forgotPasswordForm.controls.email"></app-control-messages> -->
      <p class="text-center pt-4"><a class ="forgotPassword-text" href="login">Back to Login?</a></p>
    </div>
    <div class="login-section text-center py-1">
      <button class="forgot-password px-5 py-2 forgot-password" type="submit" >Send<span class="ml-2"><i class="fas fa-angle-right"></i></span></button>
    </div>
  </form>
</div>
